<html>
    <head>
        <title>Brand's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Brand Blog</a></h1>
        </div>
        <div>
            <p>published: 05.05.2017, 12:14</p>
            <h2><a href="">Mi Primer Post</a></h2>
            <p>Este es el primer post de todos los posts</p>
        </div>
        <div>
            <p>published: 05.05.2017, 12:17</p>
            <h2><a href="">El Segundo Post</a></h2>
            <p>Sacando el Segundo Post</p>
        </div>
    </body>
</html>